# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/

# Results data
results/data/

# Optional: ignore generated figures
# results/figures/

# egg-info
**/*.egg-info/
